* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
  font-family: "Nunito", sans-serif;
}

main {
  width: 85vw;
  margin: 0 auto;
  display: flex;
}

/************** SIDEBAR **************/
aside {
  width: 15vw;
  text-align: center;
  background: white;
  color: #bebebe;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: #bebebe;
  font-size: smaller;
}

.logo {
    margin-top: 80px;
    font-size: smaller;
  }

/************** MAIN **************/  
.main-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

/************** GALLERY **************/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

/************** CAROUSEL **************/
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: smaller;
}

.carousel > span {
  margin: 0 15px;
}

span.active {
  background: black;
  color: #f5f5f5;
  padding: 8px 15px;
  margin: 0 0;
}

/************** ABOUT ME **************/
section.about-me {
  display: flex;
  background: #686868;
  color: #d3d3d3;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: 30px auto;
}

h3.about-me{
    text-align: center;
}

h4.skill-name {
    width: 25%;
    letter-spacing: 3px;
}

.about-me-container > p {
    font-size: small;
    text-align: justify;
}

.horizontal-line {
    height: 0px;
    border-top: 1px solid #d3d3d3;
    margin: 20px 0;
}

progress {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    position: relative;
}

progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 0px;
}

progress::-moz-progress-bar {
    background-color: #d3d3d3;
}

progress::-webkit-progress-value {
    background-color: #d3d3d3;
}

progress::before {
    content: attr(data-label);
    font-size: medium;
    color: black;

    position: absolute;
    top: 5px;
    left: 220px;
}

button.resume {
    height: 40px;
    width: 150px;
    border: none;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    font-family: "Nunito", sans-serif;
}

.prices-container {
    display: flex;
    justify-content: space-between;
}

table {
    width: 49%;
    text-align: center;
}

th {
    width: 60px;
    height: 80px;
    background-color: black;
    color: #686868;
}

td {
    height: 50px;
    background-color: #DCDCDC;
    border-bottom: 1px solid #686868;
    color: #686868;
}

td.price {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

tfoot > tr > td {
    height: 100px;
    background-color: #C0C0C0;
}

button.sign-up {
    background-color: #DCDCDC;
    border: none;
    width: 100px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    color: #686868;
}

/************** CONTACT ME *************/
address {
  display: flex;
  justify-content: center;
  font-style: normal;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 25px auto;
}

form > p > * {
  display: block;
  width: 100%;
}

form > p > input {
  height: 35px;
}

button.contact-me {
  background-color: black;
  color: #f5f5f5;
  height: 35px;
  font-size: medium;
  font-family: "Nunito", sans-serif;
}

/************** FOOTER **************/
footer {
  display: flex;
  justify-content: space-between;
  background: #a9a9a9;
  padding: 30px 10px;
}

footer > section {
    width: 33%;
    padding: 5px;
}

.blog-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lorem-blog-link, .ipsum-blog-link {
    display: flex;
    justify-content: flex-start;
}

.blog-link-text-container > * {
    display: block;
}

.blog-link-text-container > span.link-title {
    font-size: larger;
}

.blog-link-img {
    margin: auto 10px;
}

.popular-tags > span {
    font-size: smaller;
    background-color: #686868;
    color: #f5f5f5;
    padding: 0px 4px;
}

.popular-tags > span.active-tag {
    background-color: black;
    font-size: small;
    color: #f5f5f5;
    padding: 2px 6px;
}
