$font-family: "Nunito", sans-serif;
$body-main-color: #f5f5f5;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-main-color;
  font-family: $font-family;
}

main {
  width: 85vw;
  margin: 0 auto;
  display: flex;
}

aside {
  width: 15vw;
  text-align: center;
  background: white;
  color: #bebebe;

  .logo {
    margin-top: 80px;
    font-size: smaller;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #bebebe;
        font-size: smaller;
      }
    }
  }
}

.main-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: smaller;

  &__span {
    margin: 0 15px;

    &_active {
      background: black;
      color: $body-main-color;
      padding: 8px 15px;
      margin: 0 0;
    }
  }
}

section.about-me {
  display: flex;
  background: #686868;
  color: #d3d3d3;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: 30px auto;

  &__title {
    text-align: center;
  }

  &__describe {
    font-size: small;
    text-align: justify;
  }

  &__skill-name {
    width: 25%;
    letter-spacing: 3px;
  }

  &__resume-button {
    height: 40px;
    width: 150px;
    border: none;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: $body-main-color;
    font-family: $font-family;
  }
}

progress {
  width: 100%;
  height: 30px;
  -webkit-appearance: none;
  position: relative;

  &::-webkit-progress-bar {
    background-color: white;
    border-radius: 0px;
  }

  &::-moz-progress-bar {
    background-color: #d3d3d3;
  }

  &::-webkit-progress-value {
    background-color: #d3d3d3;
  }

  &::before {
    content: attr(data-label);
    font-size: medium;
    color: black;

    position: absolute;
    top: 5px;
    left: 220px;
  }
}

.horizontal-line {
  height: 0px;
  border-top: 1px solid #d3d3d3;
  margin: 20px 0;
}

.prices-container {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 49%;
  text-align: center;

  &__head {
    width: 60px;
    height: 80px;
    background-color: black;
    color: #686868;
  }

  &__cell {
    height: 50px;
    background-color: #dcdcdc;
    border-bottom: 1px solid #686868;
    color: #686868;

    &_price {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &_sign-up {
      height: 100px;
      background-color: #c0c0c0;
    }
  }
}

button.sign-up {
  background-color: #dcdcdc;
  border: none;
  width: 100px;
  height: 50px;
  font-family: $font-family;
  font-size: medium;
  color: #686868;
}

address {
  font-style: normal;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 25px auto;

  &__element {
    display: block;
    width: 100%;
  }

  &__input {
    height: 35px;
  }

  &__button {
    background-color: black;
    color: $body-main-color;
    height: 35px;
    font-size: medium;
    font-family: $font-family;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background: #a9a9a9;
  padding: 30px 10px;

  section {
    width: 33%;
    padding: 5px;
  }
}

.blog-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-link {
  display: flex;
  justify-content: flex-start;

  &__img {
    margin: auto 10px;
  }
}

.blog-link-text-container {
  &__span {
    display: block;

    &_link-title {
      font-size: larger;
    }
  }
}

.popular-tags {
  &__span {
    font-size: smaller;
    background-color: #686868;
    color: #f5f5f5;
    padding: 0px 4px;

    &_active {
      background-color: black;
      font-size: small;
      color: $body-main-color;
      padding: 2px 6px;
    }
  }
}
